.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  flex-direction: column;
}

.button {
  background-color: #53c28b;
  color: white;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  width: 300px;
  font-weight: 600;
}

.title {
  font-size: 40px;
}

.subTitle {
  font-size: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 300px;
}

.input {
  padding: 20px;
  color: #bbb;
  background-color: transparent;
  border: 2px solid #bbb;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  outline: none;
}

.google {
  background-color: rgba(228, 97, 50, 0.72);
}

.or {
  color: #bbb;
}

.link {
  text-decoration: underline;
  color: #7d7c7c;
}

.link:hover {
  color: rgb(61, 61, 61);
}